html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
button#connect {
  width: 75px;
  height: 75px;
}
input#host, input#username {
  display: block;
  height: 50px;
  font-size: large;
}
button#connect {
  float: right;
}
div#hostlist {
  clear: both;
}
div.chat {
  background-color: white;
  overflow-y: auto;
  height: 95%;
  border-radius: 5px 5px 0 0;
}
input.send {
  min-height: 5%;
  max-height: 100px;
  font-size: large;
  width: 100%;
}
x-deck {
  background-color: #E50001;
}
x-card {
  padding: 10px;
}
x-card:first-child {
  background-color: #FF5818;
}

