@font-face {
  font-family: 'Open Sans';
  src: url('OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('OpenSans-Light.ttf');
}

@keyframes glow {
  to {
    background-color: black;
  }
}

h1 {
  margin: 0;
  font-weight: normal;
  text-shadow: 0 1px 0 rgba(255,255,255,0.75);
  color: #484848;
  font-family: 'Open Sans Light';
  font-size: 36px;
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

#connect {
  width: 100%;
  height: 35px;
  border: 0;
}

#advanced-link {
  margin-top: 5px;
}

.moz-button {
  display: inline-block;
  border-radius: .25em;
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3);
  background-color: #43a6e2;
  background-color: #277ac1;
  background-repeat: repeat-x;
  background-image: linear-gradient(#43a6e2,#277ac1);
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  line-height: 1.1;
  text-decoration: none;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,0.25);
  transition: all linear .25s;
}

.glow {
  animation-name: glow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.moz-button:active {
  box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);
  color: #fff;
  text-decoration: none;
  transition: all linear .25s;
}

.connect input[type=text], #advanced input[type=text] {
  height: 30px;
  font-size: large;
  width: 100%;
  margin: 0 0 5px 0;
  padding: 0;
  border: 0;
  display: block;
}

.connect label {
  margin: 5px 0;
}

#advanced {
  margin: 10px 0;
  display: none;
}

a.part {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  padding: 5px;
  border-bottom-left-radius: 5px;
  color: white;
}

div.chat {
  background-color: white;
  overflow-y: auto;
  border-radius: 5px;
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 35px;
}

input.send {
  display: block;
  width: 100%;
  height: 30px;
  border: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 16px;
}

x-deck {
  background-image: linear-gradient(#CAE1F4,#EEEEEE);
}

x-card {
  padding: 5px;
}

#tabbar x-tabbar-tab {
  background: transparent;
  color: white;
}

#hostlist {
  margin: 5px 0
}

#hostlist div {
  margin: 2px 0;
  padding: 2px 0;
}

#hostlist div button {
  margin-left: 5px;
  height: 15px;
  width: 25px;
}

#loading {
  text-align: center;
  display: none;
}

div.chat p {
  margin: 0;
  color: #444;
}

div.chat p.mine {
  color: #000;
}

div.chat p.status {
  color: #3498db;
}

